.containerForm {
  flex-direction: column;
  display: flex; 
  margin-top: 2em;
}

.title {
  height: 4em;
  width: 50em;
  padding: 20px;
  color: black; 
  font-size: larger;
}

.note {
  height: 13em;
  width: 50em;
  font-size: larger;
  padding: 20px;
}

.btnSave {
  position: flex;
  align-self: center;
  color: #F9E8C6;
  background-color: #E94726;
  font-family: 'Hepta Slab', serif;
  width: 20em;
  height: 4em;
  border: none;
  box-shadow: 5px 5px 15px rgba(27, 27, 27, 0.856);
  margin: 1em;
}

#cancel {
  position: flex;
  font-size: 60px;
  align-self: flex-end;
}